.heading {
  text-align: center;
  margin-top: 0px;
  font-style: normal;
  font-weight: 500;
  font-size: 46px;
  line-height: 30px;
  text-transform: uppercase;
  padding-top: 80px;
  padding-bottom: 80px;
  color: #ffffff;
}
.container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  /* padding-bottom: 50px; */
}

.accordion {
  margin-bottom: 15px;
  background: linear-gradient(to bottom right, #d83899, #ff238e) !important;
}
.accordionSummary {
  background: linear-gradient(to bottom right, #d83899, #ff238e) !important;
}
.accordionDetails {
  color: white !important;
}
.accordionQuestion {
  color: white;
  font-weight: 500 !important;
  text-align: left !important;
}
.accordionText {
  font-weight: 500 !important;
}
